.fondo-azul
{	
	color:#A5A5AF;
	background-color:#015249;
	
}
.fondo-c
{
	
	background-color:#ffffff;

}
.redondo
{
	border-radius: 50%;
}
.encabezado
{
	text-align: center;
	
	color:#57BC90;
}
.letra
{
	text-align: center;
	
	color:#57BC90;
	
	
}
a{
	
	color:#57BC90;
}
hr
{
	background-color:#57BC90;
}
.contenido
{
	//background-color:red;
	//background-color:#000000;
	//background-color:#A5A5AF;
}
li
{
	padding-bottom: 10px;
}
.menu{
	
	min-height: 100%;

}
.contenido{

	//height: 100%;
	
}

